.landingContainer{
    display: flex;
    flex-direction: column;

    padding: 14px;

    .main{
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .comments{
        background-color: #3d527a;
        width: 100%;
        padding: 10px;
    }

    .repeat{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


}