.landingContainer{
    display: flex;
    flex-direction: column;

    padding: 14px;

    .main{
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .socialProof{
        display: flex;
        justify-content: center;
        gap: 30px;

        padding: 5px;
    }
}