.swiper {
    overflow: hidden;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: transform 0.3s ease;
}

.swiper-slide-active {
    transform: scale(1.2); 
}

.swiper-slide-prev, .swiper-slide-next {
    transform: scale(0.8); 
}

.eachComment {
    background-color: white;
    width: 300px;
    margin: 10px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
